<div id="ibhbv" class="container mt-5">
    <div id="itmkd" class="row justify-content-center">
      <div
        id="iqo67"
        class="col-12 col-lg-6 col-xxl-4 text-center text-secondary"
      >
        <span id="ipfwh">Welcome to database explorer</span>
      </div>
      <div id="i2ana" class="col-12 col-lg-6 col-xxl-12"></div>
      <div id="i9wn4" class="col-12 col-lg-6 col-xxl-4">
        <a
          type="button"
          href="#/edit_table/public"
          id="ihaax"
          class="btn btn-primary w-100 mt-2"
        >
          <span id="imaqs">Create a new table</span>
        </a>
        <a
          type="button"
          href="#/edit_func/public"
          id="ihaax-2"
          class="btn btn-primary w-100 mt-2"
        >
          <span id="imaqs-2">Create a new function</span>
        </a>
        <a
          type="button"
          id="ih3f7-2-3"
          href="#/run_sql"
          class="btn mt-2 w-100 btn-outline-secondary"
        >
          <span>Run SQL</span>
        </a>
      </div>
    </div>
  </div>